mixin Box(props, title = '', subTitle = '')
  - const {type = 'default', topic = ''} = props
  .box(class=`box-${type}${title ? ' box-title' : ''}`)
    if (title)
      .box_title(class=`${topic ? 'box_title-topic' : ''}`)
        if (topic)
          .box_topic(data-color=`${topic}`)
        h1.title.title-h1= title
        if (subTitle)
          p.subTitle= subTitle
    if block
      block